#wrapper {
    padding-top: 60px;
}

a {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

.custom-arrow-up {
    position: absolute;
    top: -15px;
    font-size: 25px;
}

.section-header {
    padding: 40px 0 35px;
}

.section-header .title {
    font-size: 1.5rem;
    line-height: 1.1;
    padding-bottom: 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 700;
}

/* Navigation bar */
.navbar .nav-link {
    padding: .2rem!important;
}
.navbar-site {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: auto;
    background: #fff;
}

@media (max-width: 320px){
    .navbar .container {
        padding-left: 5px;
    }
    
    .container {
        min-width: 300px;
    }
}

@media (max-width: 300px){
    .container {
        width: 300px;
    }
}

@media (min-width: 768px){
    .navbar-site {
        margin-bottom: 0!important;
        padding-top: 0;
        padding-bottom: 0;
        height: auto;
        background: #fff;
        border-radius: 0;
        border-bottom: solid 1px #ddd;
    }
    .header {
        height: auto;
        background: #fff;
    }
}

@media (max-width: 767px){
    body {
        font-size: .75rem;
    }
    .section-header .title {
        font-size: 1.3rem;
    }
}

/* Swiper */
.swiper-pagination-bullet {
    border: 1px solid #f9482b!important;
    background: #fff!important;
    opacity: 1!important;
}

.swiper-pagination-bullet-active {
    background: #f9482b!important;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0!important;
    padding-top: 0!important;
}

/* Slide Content */
@media (max-width: 400px){

    .mobile-font-4vw {
        font-size: 4.5vw!important;
    }
}

.ellipsis-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.custom-border-title {
    background: #fff;
    padding: 0 10px;
    line-height: 0!important;
}

.custom-border-line-light {
    border-top: 1px solid #e9e9e9;
    line-height: .1em;
}

.custom-dropdown-post {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown, .dropup {
    position: relative;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
}

.custom-dropdown-post>div>a {
    background: #f8f9fa;
    opacity: .8;
}

.dropdown-menu-post {
    min-width: 8.5rem!important;
    right: 0!important;
    left: auto!important;
    transform: translate3d(0,36px,0)!important;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .85rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
}

.post-user-icon {
    width: 36px;
    height: 36px;
}
.box-custom-post {
    min-height: 313px;
}
.box-custom-post .post-img-container {
    height: 108px;
    overflow: hidden;
}
.box-custom-deal {
    min-height: 369px;
}
.box-custom-deal .deal-img-container {
    height: 160px;
    overflow: hidden;
}
.box-custom-deal .deal-img-container .deal-img {
    max-height: 160px;
    max-width: 160px;
}
.btn-cashback {
    line-height: 0;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
    padding-left: 8.5px!important;
    padding-right: 8.5px!important;
}
.box-custom-store {
    height: 110px;
    overflow: hidden;
}
.popular-store-badge {
    position: absolute;
    left: -1px;
    top: -1px;
}
.feature-store-badge {
    position: absolute;
    top: -1px;
}
/* Action Link */
#cashback_stores > div > a{
    text-decoration:none;
}

/* Color for background and text*/
.bg-orange {
    background: #f9482b!important;
}

.border-orange-2 {
    border-bottom: 2px solid #f9482b;
}

.text-orange{
    color: #f9482b;
}

.text-orange:hover{
    color: #f9482b;
}

.text-orange:active{
    color: #f9482b;
}

.text-white{
    color: white;
}

/* Footer */
.footer-title {
    color: #000;
    font-family: roboto condensed,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-content {
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 14px;
    padding: 40px 0;
    color: #333;
    background: #f5f5f5;
}

.finds-footer {
    position: fixed;
    bottom: 0;
    z-index: 19;
    width: 100%;
    height: 60px;
    transition: height .3s ease;
    background: #000!important;
    color: #fff!important;
}

#st-1 {
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
    direction: ltr;
    display: block;
    opacity: 1;
    text-align: left;
}

.st-btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    position: relative;
    text-align: center;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
}



#st-1 .st-btn > a > img {
    height: 16px;
    width: 16px;
    position: relative;
    vertical-align: top;
    top:8px;
}

#st-1 .st-btn[data-network='facebook'] {
    background-color: #4267B2;
}

#st-1 .st-btn[data-network='twitter'] {
    background-color: #55acee;
}

#st-1 .st-btn[data-network='instagram'] {
    background-color: #bc2a8d;
}

#st-1 .st-btn[data-network='youtube'] {
    background-color: #FF0000;
}

#st-1 .st-btn[data-network='pinterest'] {
    background-color: #CB2027;
}

/* Misc */

.h-26 {
    height: 26px!important;
}
.h-36 {
    height: 36px!important;
}
.h-45 {
    height: 45px!important;
}
.height-75 {
    height: 75px!important;
}
.font-size-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px!important;
}
.mh-20 {
    max-height: 20px!important;
}
img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}


/* Facebook Clicker */
#facebook-clicker {
    cursor: pointer;
    z-index: 1000;
    width: 160px;
    height: 50px;
    position: fixed;
    top: calc(50% - 75px);
    left: -59px;
    background-image: url(/images/facebook.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(
-90deg
);
    border-radius: 0px 0px 10px 10px;
}

#hidden-fb{
    bottom: 10px;
    border: none;
    position:fixed;
    z-index:20;
}